/*
  red = #ff9980
  yellow = #fff7c2
*/
body {
/*   background-color: #FFF8DC; */
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

table{
  /*text-align: center;*/
  display: inline-block;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
  border-width: thin;
  /*text-align: center;*/
}

td {
  width: 200px;
  height: 20px;
  background-color: #ff9980;
}

/*th {
  background-color: #ffffff;
}*/

/*tr {
  background-color: #ff9980;
}*/

footer{
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h3 {
  margin: 0px;
}

.userInput {
  padding-bottom: 10px;
}

input {
  height: 1em;
  font-size: 1em;
}

.submitButton{
/*   padding: 10px; */
  height: 22px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  text-align: center;
  margin: 0 auto;
  padding: 1px 10px 20px;
}

.submitButton:hover{
  background-color: #e7e7e7;
  text-align:center;
  margin: 0 auto;
}

.savebtn{
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  text-align: center;
  margin: 0 auto;
  padding: 8px 10px 8px;
}

.savebtn:hover{
  background-color: #e7e7e7;
  text-align:center;
  margin: 0 auto;
}

.generateBar {
  text-align: center;
  margin: 0 auto;
}

.generatebtn {
/*  padding: 1em;*/
  font-size: 16px;
  /*height: 22px;*/
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 10px 10px 30px;
  text-align:center;
  margin: 10px;
}

.generatebtn:hover{
  background-color: #e7e7e7;
}

#tblMLD {
  margin-left: 20px;
  margin-right: 20px;
}

#tblMUD{
  margin-right: 20px;
}

#tblMS{
  margin-right: 20px;
}

#tblCore{
  margin-right: 20px;
}

#tblEE{
  margin-right: 20px;
}

/*#tables{
  text-align: center;
}*/

.ui-autocomplete { 
  height: 300px; 
  overflow-y: scroll; 
  overflow-x: hidden;
}

.thickerBorder{
  border-width: medium;
  /*color: ; //sets color of text*/
}

.EduEnrich{
  background-color: #fff7c2;
}