/*
  red = #ff9980
*/
h1 {
  text-align: center;
  font-size: 2em;
}

.userInput {
  text-align: center;
  padding-bottom: 10px;
}

input {
  height: 1em;
  font-size: 1em;
}

.thickerBorder{
  border-width: medium;
  /*color: #FFFF99;*/
}

#submitButton{
/*   padding: 10px; */
  height: 22px;
}

#savebtn {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

.generateBar {
  text-align: center;
  margin: 0 auto;
}

#generatebtn {
/*  padding: 1em;*/
  font-size: 16px;
  height: 22px;
}

table {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-width: thin;

}

th {
  background-color: #ffffff;
}

tr {
  background-color: #ff9980;
}

body {
/*   background-color: #FFF8DC; */
}

footer{
  text-align: center;
}

.ui-autocomplete { 
  height: 300px; 
  overflow-y: scroll; 
  overflow-x: hidden;
}

h3 {
  margin: 0px;
}