/*
  red = #FF6347
*/
h1 {
  text-align: center;
  font-size: 2em;
}

.userInput {
  text-align: left;
}

input {
  height: 1em;
  font-size: 1em;
}

.thickerBorder{
  border-width: medium;
  color: #FFFF99;
}

#savebtn {
  align: right;
}

.generateBar {
  text-align: center;
  margin: 0 auto;
}

table {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-width: thin;

}

th {
  background-color: #FFF8DC;
}

tr {
  background-color: #FF6347;
}

body {
  background-color: #FFF8DC;
}

footer{
  text-align: center;
}
